.label{
    height: 40px;
width: 80%;

border-radius: nullpx;
border-bottom: rgba(38, 45, 52, 1) 2px solid;
margin-left: 29px;
margin-top: 29px;
display: flex;
font-family: Poppins;
font-size: 13px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
align-items: center;

}
.Conexion{
    margin-left: 2%;
}
.Nombre{
    margin-left:6%;
    width: 25%;
}
.Usuario{
    width: 20%;
}
.Email{
    width: 25%;
}
.Movil{
    width: 16%;
}