.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
  transition: opacity 0.5s ease-in-out;
  font-size: 13px;
  font-weight: 400;
  height: 611px;
  width: 480px;

  border-radius: 5px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 1000;
  transition: opacity 6 ease-in-out;
}
.header {
  display: flex;
}

.Perfil {
  margin-left: 30px;
  margin-top: 19px;
  width: 33px;
  height: 28px;
    border-bottom: #0ABB87 5px solid;
    font-weight: 600;
    font-size: 13px;
}
.Cursos {
  margin-left: 15px;
  margin-top: 19px;
  margin-bottom: 10px;
}
.editar {
  margin-left: 189px;
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  background: #262d34;
  width: 151px;
  height: 32px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
 
  color: #ffffff;
}
.modalClose{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap: 8px;
    
    width: 77px;
    height: 32px;
    
    background: #FFFFFF;
    /* Principal 02 */
    
    border: 1px solid #262D34;
    /* drop-shadow/button-primary */
    
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;

}
.img{
  box-sizing: border-box;
display: flex;
border-radius: 50%;
width: 138px;
height: 138px;
left: 651px;
top: 290.5px;

   

margin-top: 33.5px;

}

.imgEstudiante{
 width: 138px;
  height:138px;
 

}
.info{
  display: flex;
  flex-wrap: wrap;
margin-left:97px ;

  margin-top: 40px;
 gap:24px;
 
  width: 380px;
}
.infoEstudiante{
  border-bottom: rgba(205, 205, 205, 1) 1px solid;
  width: 263px;
  margin-top: -12px;
}
.titulo{
  font-family: Montserrat;
font-size: 11px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin-top: -8px;

}
.nombre{
  font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 8px;
}
.usuario{
  border-bottom: rgba(205, 205, 205, 1) 1px solid;
  width: 320px;
  margin-top: 15px;
  margin-left:80px ;
  display: flex;
}
.divUsuario{
  margin-left: 30px;
  gap: 24px;
}
.emailLogo , .movilLogo , .calendarioLogo{
  margin-left: 15px;
}

.divUsuarios{
  margin-left: 60px;
}

.divInscripcion{
  margin-left: 30px;
  gap: 24px;
  
}
.usuarioInscripcion{
  width: 320px;
  margin-top: 15px;
  margin-left:80px ;
  display: flex;
}
.modalClose{
 margin-left: 385px;
}
.guardar{
  margin-left: 8px;
  margin-top: 19px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  background: #262d34;
  width: 91px;
height: 32px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.guardar:hover{
  background: #0ABB87;
  color: #000000;
}
.cancelar:hover{
  background: #0ABB87;
  color: #000000;
}

.cancelar{
  margin-left: 80px;
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  background: #fff;
  width: 152px;
  height: 32px;
  border: 1px solid #262D34;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #262D34;
}
.movilDivEdit{
  margin-bottom:166px;
}
.editar:hover{
  background: #0ABB87;
  color: #000000;
}
.progreso[value]{
  width: 384px;
  height: 12px;
  appearance: none;
  -webkit-appearance: none;
}
progress[value]::-webkit-progress-bar {
  background: #F0F4F3;
  border-radius: 10px;
}
progress[value]::-webkit-progress-value {
  background: linear-gradient(90deg, #0ABB87 6.77%, #6FD466 93.23%);
  border-radius: 10px;
}
.PerfilCursos{
  margin-left: 30px;
  margin-top: 14px;
  width: 33px;
  height: 28px;
    
    font-weight: 600;
    font-size: 13px;
}

.Curso{
  margin-left: 15px;
  margin-top: 19px;
  margin-bottom: 10px;
  border-bottom: #0ABB87 5px solid;

}
.headerNew{
  display: flex;
  align-items: baseline;
  width: 100%;
  margin-bottom: 15px ;
}
.progress-bar{
  display: flex;
  align-items: center;
  gap:5px;
}
.cursoLabel{
  font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
.fechaInscripcion{
  font-family: Montserrat;
font-size: 10px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #767676;
}

.progress{
  margin-top: 17px;
}
.progressLast{
  margin-top: 17px;
  margin-bottom: 38px;
}